body {
  margin: 0;
  background-color: #87CEEB;
}

#snow-renderer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.framed {
  background-color: white;
  opacity: .9;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
}

.interface {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  max-height: 100vh;
  overflow: auto;
}

.interface-element {
  width: 75%;
}

.christmas-font {
  font-family: 'Arizonia';
  font-size: 3em;
  line-height: 1.2em;
  padding: 20px;
}

@keyframes holiday-magic {
  0% {
    opacity: 0;
    color: yellow;
  }
  70% {
    text-shadow: 5px 5px 15px yellow;
  }
  90% {
    color: white;
  }
  100% {
    opacity: 1;
    color: white;
    text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
  }
}

.christmas-character {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-name: holiday-magic;
}
